.kd-btn {
    @include rem(font-size, 1.25rem);
    @include borderRadius(5px);
    color: $white-color;
    @include rem(padding, 1rem 2.5rem 1.1rem);
    @include rem(margin-bottom, 2.7rem);
    @include transition(all);
    display: inline-block;
    background-color: $dark-grey;

    &:visited {
        color: $body-color;
    }

    &:hover {
        color: $body-color;
    }
}