block footer

    footer(class='kd-footer', role='contentinfo')

        p(class='kd-footer-p_color').
            2015 © Kropka Ltd, Creative Ideas by Malgorzata Maryniak - UX Designer and Senior Visual Creative from Exeter, Devon
            Reg. in England and Wales no 9641102, Reg. Address: 20-22 Wenlock Road, London N1 7GU

include scripts/footer-scripts.jade