header(role='banner' class='kd-header')

    img(src="http://assets.kropka.design/img/kropka-design.jpg", srcset="http://assets.kropka.design/img/kropka-design.svg", alt="Kropka Design", role='logo', class='kd-logo')